@import "./variables.less";

.authors-cont {
    display: flex;
    justify-content: center;

    padding-top: 10px;

    height: calc(100dvh - @header-height - @footer-height);
    
    overflow-y: scroll;
}

.author {
    width: 80dvw;
    height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid @gray-button;
    padding: 5px 20px;

    cursor: pointer;
}

.author:hover {
    opacity: 0.8;
}

.author-left-part {
    display: flex;
    align-items: center;
}

.author-main-info {
    margin-bottom: 10px;

    .author-name {
        font-weight: bold;
        font-size: 1.2rem;
    }

    .author-create-time {
        color: @gray-button;
        font-style: italic;
    }
}

.author-secondary-info {
    font-size: 0.9rem;

    .author-birth-text {
        color: @gray-button;
        font-weight: bold;
    }

    .author-birth-date {
        color: @gray-button;
    }
}

.author-right-part {
    display: flex;

    :first-child {
        margin-right: 5px;
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8rem;
        width: 100px;
        height: 20px;
    }

    a:hover {
        opacity: 1;
    }
}

.author-icon {
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 50%;
    border: 0.1px solid @gray-button;

    position: relative;
    
    background-size: cover;
    margin-right: 15px;
}

.male-image {
    .author-icon();
    background: url(/src/img/man.png) 0 0 no-repeat;
}

.female-image {
    .author-icon();
    background: url(/src/img/woman.png) 0 0 no-repeat;
}

.crown {
    height: 30px;
    width: 30px;
    
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    transform: rotate(35deg);

    position: absolute;
    bottom: 30px;
    left: 30px;
}

.author-first {
    .crown();
    background: url(/src/img/gold-crown.png) 0 0 no-repeat;
    background-size: contain;
}

.author-second {
    .crown();
    background: url(/src/img/silver-crown.png) 0 0 no-repeat;
    background-size: contain;
}

.author-third {
    .crown();
    background: url(/src/img/bronze-crown.png) 0 0 no-repeat;
    background-size: contain;
}
