@import "./variables.less";

.body-container {
    display: flex;
    justify-content: center;

    height: calc(100dvh - @footer-height - @header-height);
    overflow-y: scroll;
}

.block {
    margin-bottom: @body-margin;
    border-radius: 2px;
}

.filter-bottom-block {
    display: flex;
    justify-content: center;
    margin-bottom: @body-margin;
}

.body-elem-container {
    width: 70dvw;

    .write-post-cont {
        display: flex;
        .block();
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 0;
    
        margin-top: @body-margin;
    
        button {
            height: 30px;
            border-radius: 5px;
        }
    }

    .filters-cont {
        .block();
        border: @body-elem-border;
        margin-top: @body-margin;

        .top-part {
            background-color: @gray-background;
            border: @body-elem-border;
            display: flex;
            width: 100%;
            height: 30px;
            align-items: center;

            a {
                height: 20px;
                margin: @margin-block;
            }
        }

        .bottom-part {
            width: 100%;
            // margin: @margin-block;
            padding: @margin-block;

            .bottom-top-part {
                display: flex;
                width: 100%;

                .bottom-top-block {
                    width: 50%;
                    .filter-bottom-block();

                    p {
                        .text();
                    }


                    input {
                        width: 100%;
                        .filter-option();
                    }

                    select {
                        width: 100%;

                        option {
                            padding-left: @body-margin;
                        }
                    }
                }
            }
            
            .bottom-bottom-part {
                display: flex;
                position: relative;
                align-items: center;
                width: 100%;

                .apply-btn {
                    position: absolute;
                    height: 25px;
                    width: 90px;
                    border-radius: 2px;
                    right: 0;
                    margin-right: @body-margin;
                    margin-top: calc(@font-size + 2px);
                }

                .block-filter {
                    display: flex;
                    align-items: center;
                    .filter-bottom-block();

                    p {
                        .text();
                    }

                    select, input {
                        width: 100%;
                        .filter-option();
                    }
                }

                .sort {
                    width: 40%;
                }

                .time {
                    width: 15%;
                }

                .apply {
                    display: flex;
                    justify-content: right;
                    align-items: flex-end;
                    width: 15%;
                    margin-bottom: 15px;

                    button {
                        height: 25px;
                        width: 90px;
                        border-radius: 2px;
                    }
                }

                .block-filter-check {
                    display: flex;
                    align-items: end;
                    .filter-bottom-block();
                    margin-bottom: 15px;
                    margin-left: 10px;
                    margin-top: calc(@font-size + 2px);
                    width: 15%;

                    p {
                        .text();
                    }

                    button {
                        height: 20px;
                        width: 20px;
                        border-radius: 50%;
                        border: @body-elem-border;
                        margin-right: 3px;

                        transition: 0.3s linear;
                    }

                    button:hover {
                        opacity: 0.6;
                    }
                }
            }

        }
    }
}

.block-glue {
    width: 100%;
    margin-right: @body-margin;
}

.tag-select {
    option {
        border: @body-elem-border;
    }
}

.pagination-block {
    display: flex;
    justify-content: space-between;
    padding-bottom: @body-margin;

    .pages-amount-select {
    
        p {
            .text();
        }

        select {
            width: 100%;
            .filter-option();
        }
    }

    .page-num-select {

        display: flex;
        align-items: flex-end;

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: auto;
            margin: 0;
            border: 1px solid @blue-button;
            background-color: white;
            color: @blue-button;
            height: 30px;
            width: 30px;
            cursor: pointer;
        }

        button.active-page {
            background-color: @blue-button;
            color: white;
        }

        button:hover {
            opacity: 0.9;
        }
    }
}


// ---------------

.blog-block {
    width: 100%;

    .post {
        border: @body-elem-border;
        margin-bottom: @body-margin;

        .post-image {
            display: flex;
            justify-content: center;

            img {
                max-width: 250px;
            }
        }

        h3 {
            cursor: pointer;
        }

        .post-main-info {
            margin: @body-margin;
        }

        a {
            .text();
        }

        .post-text, .post-time {
            margin: @body-margin;
        }

        .post-tags {
            margin: @body-margin;
            a {
                color: @gray-text;
                margin-right: 5px;
            }

            margin-bottom: @body-margin;
        }

        .post-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: @gray-background;
            border: @body-elem-border;
            margin-top: @body-margin;
            padding: @margin-block;

            height: 25px;

            a {
                margin-bottom: 0;
                margin-right: 3px;
            }

            .post-comments, .post-likes {
                display: flex;

                .post-info-icon {
                    height: 15px;
                    width: 15px;
                    cursor: pointer;
                }

                .comment {
                    background: url(/src/img/comment.png) 0 0 no-repeat;
                    background-size: cover;
                }

                .liked {
                    background: url(/src/img/heart.png) 0 0 no-repeat;
                    background-size: cover;
                }

                .no-liked {
                    background: url(/src/img/empty-heart.png) 0 0 no-repeat;
                    background-size: cover;
                }
            }

        }
    }
}

.not-clickable {
    cursor: auto !important;
}

.post-text {
    word-wrap: break-word;
}