@import "./variables.less";

@block-width: 60%;
@body-margin: 10px;
@body-elem-border: 1px solid @gray-border;
@margin-block: 0 @body-margin;
@font-size: 0.85rem;

.filter-option {
    height: 25px;
    border-radius: 2px;
    border: @body-elem-border;
    padding-left: @body-margin;
}

.text {
    font-size: @font-size;
    margin-bottom: 2px;
}

.body-container {
    display: flex;
    justify-content: center;
}

.block {
    margin-bottom: @body-margin;
    border-radius: 2px;
}

.filter-bottom-block {
    display: flex;
    justify-content: center;
    margin-bottom: @body-margin;
}

.body-elem-container {
    width: 70dvw;

    .write-post-cont {
        display: flex;
        .block();
        justify-content: flex-end;
        align-items: center;
        margin-bottom: @body-margin;
    
        margin-top: @body-margin;
    
        button {
            height: 30px;
            border-radius: 5px;
        }
    }

    .filters-cont {
        .block();
        border: @body-elem-border;

        .top-part {
            background-color: @gray-background;
            border: @body-elem-border;
            display: flex;
            width: 100%;
            height: 30px;
            align-items: center;

            a {
                height: 20px;
                margin: @margin-block;
            }
        }

        .bottom-part {
            width: 100%;
            // margin: @margin-block;
            padding: @margin-block;

            .bottom-top-part {
                display: flex;
                width: 100%;

                .bottom-top-block {
                    width: 50%;
                    .filter-bottom-block();

                    p {
                        .text();
                    }


                    input {
                        width: 100%;
                        .filter-option();
                    }

                    select {
                        width: 100%;

                        option {
                            padding-left: @body-margin;
                        }
                    }
                }
            }
            
            .bottom-bottom-part {
                display: flex;
                position: relative;
                align-items: center;
                width: 100%;

                .apply-btn {
                    position: absolute;
                    height: 25px;
                    width: 90px;
                    border-radius: 2px;
                    right: 0;
                    margin-right: @body-margin;
                    margin-top: calc(@font-size + 2px);
                }

                .block-filter {
                    display: flex;
                    align-items: center;
                    .filter-bottom-block();

                    p {
                        .text();
                    }

                    select, input {
                        width: 100%;
                        .filter-option();
                    }
                }

                .sort {
                    width: 40%;
                }

                .time {
                    width: 15%;
                }

                .apply {
                    display: flex;
                    justify-content: right;
                    align-items: flex-end;
                    width: 15%;
                    margin-bottom: 15px;

                    button {
                        height: 25px;
                        width: 90px;
                        border-radius: 2px;
                    }
                }

                .block-filter-check {
                    display: flex;
                    align-items: end;
                    .filter-bottom-block();
                    margin-bottom: 15px;
                    margin-left: 10px;
                    margin-top: calc(@font-size + 2px);
                    width: 15%;

                    p {
                        .text();
                    }

                    button {
                        height: 20px;
                        width: 20px;
                        border-radius: 50%;
                        border: @body-elem-border;
                        margin-right: 3px;

                        transition: 0.3s linear;
                    }

                    button:hover {
                        opacity: 0.6;
                    }
                }
            }

        }
    }
}

.block-glue {
    width: 100%;
    margin-right: @body-margin;
}
