@import "./variables.less";

.create-post-cont {
    display: block;
    // justify-content: center;
    margin: 0 auto;

    width: 70dvw;
    height: calc(100dvh - @footer-height - @header-height);
    border: @body-elem-border;

    .create-post-field {
        margin-top: @body-margin;

        .field-text {
            margin-top: @body-margin;
        }
    } 
}
