@import "./variables.less";

.group-container {
    margin-top: 10px;
    width: 70dvw;
}

.group {
    .page-element();

    background-color: @group-background;

    button {
        border-radius: 3px;
    }

    h3 {
        cursor: pointer;
        transition: 0.3s linear;
    }

    h3:hover {
        opacity: 0.5;
    }
}