@import "./variables.less";

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");


* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;

    margin: 0;

    background-color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - @footer-height - @header-height);
}