@import "./variables.less";

.post {
    margin: @body-margin 0;
}

.text {
    font-size: @font-size;
    margin-bottom: 2px;
}

.block {
    border: 1px solid @gray-border;
    padding: @body-margin;
    margin: @body-margin 0;
}

.comment-block {
    .block();

    h3 {
        margin-top: @body-margin;
    }

    a {
        .text();
    }

    .comment-reply-block {
        padding-bottom: calc(@body-margin / 2);
    }

    span, .show-replies {
        background-color: white;
        font-size: @font-size;
        border: none;
        color: @blue-button;
        cursor: pointer;
        margin-bottom: 0;
    }

    .show-replies {
        margin-bottom: 0;
        margin-top: 3px;
    }

    span:hover, .show-replies:hover {
        text-decoration: underline;
    }

    .comment, .child-comment {
        margin-bottom: calc(2 * @body-margin);
        border-bottom: 1px solid @gray-border;

        .child-comments-cont {
            border-left: 3px solid @blue-border;
            padding-left: 5px;
        }

        .text-block {
            display: flex;
            align-items: baseline;

            p {
                margin-right: 2px;
            }

            a {
                margin-bottom: 0;
                color: gray;
                font-size: 0.7rem;
            }
        }

        .comment-head {
            display: flex;
        }
    }
 
}

.send-comment-block {
    .block();
    .text();
    position: relative;
    
    label {
        display: block;
        margin-bottom: 2px;
    }

    textarea {
        resize: none;
        width: 100%;
        padding: calc(@body-margin / 2) @body-margin;
        margin-bottom: calc(@body-margin / 2);
    }

    .send-com-btn {
        display: flex;
        justify-content: space-between;

        button {
            height: 30px;
            border-radius: 3px;
        }
    }
}

.comment-owner-icons {
    height: 15px;
    width: 15px;
    margin-left: 5px;
    cursor: pointer;
}

.edit-icon {
    .comment-owner-icons();
    background: url(/src/img/edit.png) 0 0 no-repeat;
    background-size: cover;
}

.delete-icon {
    .comment-owner-icons();
    background: url(/src/img/trash-can.png) 0 0 no-repeat;
    background-size: cover;
}


.reply-block, .edit-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    input {
        .filter-option();
        width: 80%;
    }
}

.mod-date {
    width: 20%;
    text-align: center;
    margin-left: 5px;
    border: 1px solid @gray-border;
    color: @gray-button;
}

.post-address-cont {
    display: flex;
    align-items: center;
}

.address-icon {
    background: url(/src/img/address.png) 0 0 no-repeat;
    background-size: cover;

    height: 20px;
    width: 20px;
    margin-right: calc(@body-margin / 2);
}
