@import "./variables.less";

.register-form-container {
    box-shadow: @auth-shadow;
    border-radius: @border-rad;

    width: 30vw;
    
    h2 {
        margin: 15px @margin-side 0;
    }

    .register-cont, .register-buttons {
        margin: 12px @margin-side;
    }

    .register-buttons {
        display: grid;

        button {
            font-family: 'Roboto', sans-serif;
            margin-bottom: 5px;
            height: @field-height;
            width: 100%;
        }
    }
}

.register-cont {
    display: grid;

    input, select {
        height: @field-height - 1.5dvh;
        border-radius: @border-rad;
        border: 1px solid rgb(199, 191, 191);
        padding: 0 1rem;
        width: 100%;
    }
}

.gender-select {
    appearance: none;
}

.arrow-cont {
    position: relative;

    .arrow {
        pointer-events: none;
        position: absolute;
        top: 0.6vh;
        right: @images-right-margin;
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url(/src/img/arrow-down.png) 0 0 no-repeat;
        background-size: cover;
    }
}

.email {
    a {
        margin-top: 3px;
        font-size: small;
        color: @footer-text-color;
    }
}
