<header class="unauthorized-header">
    <div class="header-left-part">
        <p>Блог №415</p>
        <a id="main_page">Главная</a>
    </div>
    
    <div class="header-right-part">
        <a id="login">Вход</a>
    </div>
</header>

<header class="loggined-header hidden">
    <div class="header-left-part">
        <p>Блог №415</p>
        <a id="main_page">Главная</a>
        <a>Написать пост</a>
    </div>
    
    <div class="header-right-part">
        <a>Пока так</a>
    </div>
</header>