<template id="post_template">
    <div class="post">
        <div class="post-main-info">
            <a class="post-main-info-text"></a>
            <h3 class="post-header"></h3>
            <hr>
        </div>

        <div class="post-text">
            <a class="collapse"></a>
        </div>

        <div class="post-tags">
        </div>

        <a class="post-time"></a>

        <div class="post-address hidden">
            <div class="post-address-cont">
                <div class="address-icon"></div>
                <a class="post-text-info"></a>
            </div>
            
        </div>

        <div class="post-info">
            <div class="post-comments">
                <a class="post-comments-amount"></a>
                <div class="post-info-icon comment"></div>
            </div>
            
            <div class="post-likes">
                <a class="post-likes-amount"></a>
                <div class="post-info-icon like-btn"></div>
            </div>
        </div>
    </div>
</template>

<template id="post_image_template">
    <div class="post-image">
        <img alt="Картинка к посту">
    </div>
</template>

<template id="tag_template">
    <a></a>
</template>
